
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>公司人才任务信息</title>
    <link rel="stylesheet" type="text/css" href="../css/demo.css">
    <link rel="stylesheet" type="text/css" href="../themes/default/easyui.css">
    <link rel="stylesheet" type="text/css" href="../themes/icon.css">
    <script type="text/javascript" src="../js/jquery.min.js"></script>
    <script type="text/javascript" src="../js/jquery.easyui.min.js"></script>
    <script type="text/javascript" src="../js/jquery.edatagrid.js"></script>
</head>
<body>
<div style="background:#fafafa;padding:5px;width:200px;border:1px solid #ccc">
    <a href="#" class="easyui-menubutton" menu="#mm1" iconCls="icon-edit">任务菜单</a>
</div>
<div id="mm1" style="width:150px;">
    <a href="/mg/lq.html" class="easyui-linkbutton" plain="true" >任务领取</a>
    <a href="/mg/geren.html" class="easyui-linkbutton" plain="true" >个人任务</a>
    <a href="/user/gerenpwd.html" class="easyui-linkbutton" plain="true" >修改密码</a>
    <a href="/loginout" class="easyui-linkbutton" plain="true" >退出系统</a>
</div>
<h2>公司人才任务信息---个人任务----双击更改</h2>
<div>
<div>
    <div style="padding:5px 0;">
        <span>意向:</span>
        <select class="easyui-combobox" id="customerYx" name="customerYx" style="width:70px;">
            <option value="">全部</option>
            <option value="是">是</option>
            <option value="否">否</option>
        </select>
        &nbsp;<span>微信:</span>
        <select class="easyui-combobox" id="customerWx" name="customerWx" style="width:70px;">
            <option value="">全部</option>
            <option value="是">是</option>
            <option value="否">否</option>
        </select>
        &nbsp;<span>作废号码:</span>
        <select class="easyui-combobox" id="customerZf" name="customerZf" style="width:70px;">
            <option value="">全部</option>
            <option value="是">是</option>
            <option value="否">否</option>
        </select>
        &nbsp;<a href="#" id="query" class="easyui-linkbutton" data-options="iconCls:'icon-search'" style="width:80px">查询</a>
    </div>

</div>

<table id="dg" title="人才库" class="easyui-datagrid"  style="width:700px;height:250px"
       toolbar="#toolbar" pagination="true" idField="id"
       rownumbers="true" fitColumns="true"  selectOnCheck="true" singleSelect="true">
    <thead>
    <tr>
        <th data-options="field:'name',align:'center'">姓名</th>
        <th data-options="field:'phone',align:'center'">电话</th>
        <th data-options="field:'zy',align:'center'">专业</th>
        <th data-options="field:'infoCity',align:'center'">城市</th>
        <th data-options="field:'optName',align:'center'">执行人员</th>


        <th data-options="field:'customerYx',align:'center'" editor="{type:'combobox',options:{valueField : 'id',
textField : 'text',
panelHeight : 'auto',
editable : false,
data : [{
	id : '是',
	text : '是'
}, {
	id : '否',
	text : '否'
} ]}}">意向客户</th>
        <th data-options="field:'customerWx',align:'center'" editor="{type:'combobox',options:{valueField : 'id',
textField : 'text',
panelHeight : 'auto',
editable : false,
data : [{
	id : '是',
	text : '是'
}, {
	id : '否',
	text : '否'
} ]}}">微信客户</th>
        <th data-options="field:'customerZf',align:'center'"  editor="{type:'combobox',options:{valueField : 'id',
textField : 'text',
panelHeight : 'auto',
editable : false,
data : [{
	id : '是',
	text : '是'
}, {
	id : '否',
	text : '否'
} ]}}">作废号码</th>
        <th  field="infoDesc" width="50"  editor="{type:'validatebox',options:{required:false}}">描述</th>
        <th data-options="field:'fenDate',align:'center'">领取时间</th>
        <th data-options="field:'modified',align:'center'">最近操作时间</th>
    </tr>
    </thead>
</table>

<div id="toolbar">
    <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-save" plain="true" onclick="javascript:$('#dg').edatagrid('saveRow')">保存</a>
    <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-undo" plain="true" onclick="javascript:$('#dg').edatagrid('cancelRow')">取消</a>
</div>

    <input type="hidden" name="ids" id="ids">

    <div id="win" class="easyui-window" data-options="title:'Inline Window',inline:true" style="width:550px;height:350px">

    </div>
</div>



<script type="text/javascript">
    $(function(){
        $('#dg').edatagrid({
            url:'/mg/list.action',
            saveUrl: '/mg/updates.action',
            updateUrl: '/mg/update.action',
            destroyUrl: '/mg/del.action'
        });
        $('#dd').dialog('close');
        $('#win').window('close');
    });
    $("#query").click(function () {
        $('#dg').datagrid('load', {
            customerYx: $("#customerYx").val(),
            customerZf: $("#customerZf").val(),
            customerWx: $("#customerWx").val()
        });
    })

    //$('#dg').datagrid('reload');

    /*$(document).bind("contextmenu",function(){return false;});
    $(document).bind("selectstart",function(){return false;});
    $(document).keydown(function(){return key(arguments[0])});*/


    function getSelected(){
        var row = $('#dg').datagrid('getSelected');
        if (row){
            $.messager.alert('Info', row.itemid+":"+row.productid+":"+row.attr1);
        }
    }
    function getSelections(){
        var ss = [];
        var rows = $('#dg').datagrid('getSelections');
        if(rows.length==0){
            return;
        }
        for(var i=0; i<rows.length; i++){
            var row = rows[i];
            ss.push(row.id);
        }
        $("#ids").val(ss);
        $('#win').window('refresh', '/user/ck.html');
        $('#win').window('open');
        //$('#dd').dialog('open');
        //$('#dd').dialog('refresh', '/user/index.html');
        //$.messager.alert('Info', ss.join('<br/>'));
    }
    /*$('#dd').dialog({
        title: 'My Dialog',
        width: 400,
        height: 200,
        closed: false,
        cache: false,
        href: '/user/index.html',
        modal: true
    });*/

</script>

</body>
</html>