<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<div th:include="head :: header"></div>
<body>
<div th:include="menu :: menu"></div>
<h2>人才任务信息 --- 分配任务</h2>
<div>
<div>
    <div style="padding:5px 0;">
        <span>未被分配:</span>
        <select class="easyui-combobox" id="fen" name="fen" style="width:70px;">
            <option value="是">是</option>
            <option value="否">否</option>
        </select>
        专业:<input class="easyui-textbox" type="text"  name="zy" id="zy" >
        &nbsp;<a href="#" id="query" class="easyui-linkbutton" data-options="iconCls:'icon-search'" style="width:80px">查询</a>
        <a href="#" class="easyui-linkbutton" onclick="getSelections()">任务分配</a>
    </div>

</div>

<table id="dg" title="人才库" class="easyui-datagrid"  style="width:700px;height:250px"
       toolbar="#toolbar" pagination="true" idField="id"
       rownumbers="true" fitColumns="true"  selectOnCheck="true" singleSelect="false">
    <thead>
    <tr>
        <th data-options="field:'ck',checkbox:true"></th>
        <th data-options="field:'name',align:'center'">姓名</th>
        <th data-options="field:'phone',align:'center'">电话</th>
        <th data-options="field:'zy',align:'center'">专业</th>
        <th data-options="field:'infoCity',align:'center'">城市</th>
        <th data-options="field:'optName',align:'center'">执行人员</th>
        <th data-options="field:'customerYx',align:'center'">意向</th>
        <th data-options="field:'customerWx',align:'center'">微信</th>
        <th data-options="field:'customerZf',align:'center'">作废号码</th>
        <th data-options="field:'infoDesc',align:'center',width:50">描述</th>
        <th data-options="field:'modified',align:'center'">最后操作时间</th>
    </tr>
    </thead>
</table>
<div style="margin:10px 0;">

</div>

    <input type="hidden" name="ids" id="ids">

    <div id="win" class="easyui-window" data-options="title:'Inline Window',inline:true" style="width:400px;height:350px">

    </div>
</div>

<script type="text/javascript">
    $(function(){
        $('#dg').edatagrid({
            pageSize:100,
            pageList:[100,500,1000,1500],
            url:'/mg/fenpei.action',
            saveUrl: '/mg/updates.action',
            updateUrl: '/mg/update.action',
            destroyUrl: '/mg/del.action'
        });
        $('#dd').dialog('close');
        $('#win').window('close');
    });
    $("#query").click(function () {
        $('#dg').datagrid('load', {
            fen: $("#fen").val(),
            zy:$("#zy").val()
        });
    })

    function getSelected(){
        var row = $('#dg').datagrid('getSelected');
        if (row){
            $.messager.alert('Info', row.itemid+":"+row.productid+":"+row.attr1);
        }
    }
    function getSelections(){
        var ss = [];
        var rows = $('#dg').datagrid('getSelections');
        if(rows.length==0){
            $.messager.alert('Info', "请选择任务，再进行分配");
            return;
        }
        for(var i=0; i<rows.length; i++){
            var row = rows[i];
            ss.push(row.id);
        }
        $("#ids").val(ss);
        debugger;
        $('#win').window('open');
        $('#win').window('refresh', '/user/ck.html');
    }

</script>

</body>
</html>