
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>公司人才任务信息</title>
    <link rel="stylesheet" type="text/css" href="../css/demo.css">
    <link rel="stylesheet" type="text/css" href="../themes/default/easyui.css">
    <link rel="stylesheet" type="text/css" href="../themes/icon.css">
    <script type="text/javascript" src="../js/jquery.min.js"></script>
    <script type="text/javascript" src="../js/jquery.easyui.min.js"></script>
    <script type="text/javascript" src="../js/jquery.edatagrid.js"></script>
</head>
<body>
<div style="background:#fafafa;padding:5px;width:200px;border:1px solid #ccc">
    <a href="#" class="easyui-menubutton" menu="#mm1" iconCls="icon-edit">任务菜单</a>
</div>
<div id="mm1" style="width:150px;">
    <a href="/mg/rw.html" class="easyui-linkbutton" plain="true" >分配任务</a>
    <a href="/mg/index.html" class="easyui-linkbutton" plain="true" >人才资源管理</a>
    <a href="/user/index.html" class="easyui-linkbutton" plain="true" >员工管理</a>
    <a href="/user/password.html" class="easyui-linkbutton" plain="true" >密码管理</a>
    <a href="/import" class="easyui-linkbutton" plain="true" >导入数据</a>
    <a href="/loginout" class="easyui-linkbutton" plain="true" >退出系统</a>
</div>
<h2>公司人才任务信息 --- 分配任务</h2>
<div>
<div>
    <div style="padding:5px 0;">
        <span>未被分配:</span>
        <select class="easyui-combobox" id="fen" name="fen" style="width:70px;">
            <option value="是">是</option>
            <option value="否">否</option>
        </select>

        &nbsp;<a href="#" id="query" class="easyui-linkbutton" data-options="iconCls:'icon-search'" style="width:80px">查询</a>
    </div>

</div>
<div style="margin:20px 0;">
    <!--<a href="#" class="easyui-linkbutton" onclick="getSelected()">GetSelected</a>-->
    <a href="#" class="easyui-linkbutton" onclick="getSelections()">选择任务分配人员</a>
</div>
<table id="dg" title="人才库" class="easyui-datagrid"  style="width:700px;height:250px"
       toolbar="#toolbar" pagination="true" idField="id"
       rownumbers="true" fitColumns="true"  selectOnCheck="true" singleSelect="false">
    <thead>
    <tr>
        <th data-options="field:'ck',checkbox:true"></th>
        <th data-options="field:'id',width:80">Item ID</th>
        <th data-options="field:'name',width:100">姓名</th>
        <th data-options="field:'phone',width:80,align:'right'">电话</th>
        <th data-options="field:'zy',width:80,align:'right'">专业</th>
        <th data-options="field:'infoCity',width:220">城市</th>
        <th data-options="field:'optName',width:60,align:'center'">任务人员</th>
        <th data-options="field:'customerYx',width:60,align:'center'">意向</th>
        <th data-options="field:'customerWx',width:60,align:'center'">微信</th>
        <th data-options="field:'customerZf',width:60,align:'center'">作废号码</th>
        <th data-options="field:'infoDesc',width:60,align:'center'">描述</th>
    </tr>
    </thead>
</table>
<div style="margin:10px 0;">
   <!-- <span>Selection Mode: </span>
    <select onchange="$('#dg').datagrid({singleSelect:(this.value==0)})">
        <option value="0">Single Row</option>
        <option value="1">Multiple Rows</option>
    </select><br/>
    SelectOnCheck: <input type="checkbox" checked onchange="$('#dg').datagrid({selectOnCheck:$(this).is(':checked')})"><br/>
    CheckOnSelect: <input type="checkbox" checked onchange="$('#dg').datagrid({checkOnSelect:$(this).is(':checked')})">-->
    <!--<input type="checkbox" checked onchange="$('#dg').datagrid({selectOnCheck:$(this).is(':checked')})">-->
</div>
<div id="toolbar">
<!--    <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-add" plain="true" onclick="javascript:$('#dg').edatagrid('addRow')">New</a>
    <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-remove" plain="true" onclick="javascript:$('#dg').edatagrid('destroyRow')">Destroy</a>-->
    <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-save" plain="true" onclick="javascript:$('#dg').edatagrid('saveRow')">保存</a>
    <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-undo" plain="true" onclick="javascript:$('#dg').edatagrid('cancelRow')">取消</a>
</div>

    <input type="hidden" name="ids" id="ids">

    <div id="win" class="easyui-window" data-options="title:'Inline Window',inline:true" style="width:550px;height:350px">

    </div>
</div>



<script type="text/javascript">
    $(function(){
        $('#dg').edatagrid({
            url:'/mg/fenpei',
            saveUrl: '/mg/updates',
            updateUrl: '/mg/update',
            destroyUrl: '/mg/del'
        });
        $('#dd').dialog('close');
        $('#win').window('close');
    });
    $("#query").click(function () {
        $('#dg').datagrid('load', {
            fen: $("#fen").val()
        });
    })

    //$('#dg').datagrid('reload');

    /*$(document).bind("contextmenu",function(){return false;});
    $(document).bind("selectstart",function(){return false;});
    $(document).keydown(function(){return key(arguments[0])});*/


    function getSelected(){
        var row = $('#dg').datagrid('getSelected');
        if (row){
            $.messager.alert('Info', row.itemid+":"+row.productid+":"+row.attr1);
        }
    }
    function getSelections(){
        var ss = [];
        var rows = $('#dg').datagrid('getSelections');
        if(rows.length==0){
            return;
        }
        for(var i=0; i<rows.length; i++){
            var row = rows[i];
            ss.push(row.id);
        }
        $("#ids").val(ss);
        $('#win').window('refresh', '/user/ck.html');
        $('#win').window('open');
        //$('#dd').dialog('open');
        //$('#dd').dialog('refresh', '/user/index.html');
        //$.messager.alert('Info', ss.join('<br/>'));
    }
    /*$('#dd').dialog({
        title: 'My Dialog',
        width: 400,
        height: 200,
        closed: false,
        cache: false,
        href: '/user/index.html',
        modal: true
    });*/

</script>

</body>
</html>