<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<div th:include="head :: header"></div>
<body>
<div th:include="menu :: menu"></div>
<h2>公司人才任务信息 --- 领取任务</h2>
<div>
<div>
    <div style="padding:5px 0;">
        <span>未被分配:</span>
        <select class="easyui-combobox" id="fen" name="fen" style="width:70px;">
            <option value="是">是</option>
        </select>

        &nbsp;<a href="#" id="query" class="easyui-linkbutton" data-options="iconCls:'icon-search'" style="width:80px">查询</a>
        <a href="#" class="easyui-linkbutton" onclick="getSelections()">领取任务</a>
    </div>

</div>

<table id="dg" title="人才库" class="easyui-datagrid"  style="width:700px;height:250px"
       toolbar="#toolbar" pagination="true" idField="id"
       rownumbers="true" fitColumns="true"  selectOnCheck="true" singleSelect="false">
    <thead>
    <tr>
        <th data-options="field:'ck',checkbox:true"></th>
        <th data-options="field:'name',align:'center'">姓名</th>
        <th data-options="field:'phone',align:'center'">电话</th>
        <th data-options="field:'zy',align:'center'">专业</th>
        <th data-options="field:'infoCity',align:'center'">城市</th>
        <th data-options="field:'optName',align:'center'">执行人员</th>
        <th data-options="field:'customerYx',align:'center'">意向</th>
        <th data-options="field:'customerWx',align:'center'">微信</th>
        <th data-options="field:'customerZf',align:'center'">作废号码</th>
        <th data-options="field:'infoDesc',align:'center',width:50">描述</th>
        <th data-options="field:'modified',align:'center'">最后操作时间</th>
    </tr>
    </thead>
</table>
<div style="margin:10px 0;">

</div>

    <input type="hidden" name="ids" id="ids">

    <div id="win" class="easyui-window" data-options="title:'Inline Window',inline:true" style="width:400px;height:350px">

    </div>
</div>

<script type="text/javascript">
    $(function(){
        $('#dg').edatagrid({
            url:'/mg/fenpei.action',
            saveUrl: '/mg/updates.action',
            updateUrl: '/mg/update.action',
            destroyUrl: '/mg/del.action'
        });
        $('#dd').dialog('close');
        $('#win').window('close');
    });
    $("#query").click(function () {
        $('#dg').datagrid('load', {
            fen: $("#fen").val()
        });
    })

    function getSelected(){
        var row = $('#dg').datagrid('getSelected');
        if (row){
            $.messager.alert('Info', row.itemid+":"+row.productid+":"+row.attr1);
        }
    }
    function getSelections(){
        var ss = [];
        var rows = $('#dg').datagrid('getSelections');
        if(rows.length==0){
            $.messager.alert('Info', "请选择任务，再进行分配");
            return;
        }
        for(var i=0; i<rows.length; i++){
            var row = rows[i];
            ss.push(row.id);
        }
        $("#ids").val(ss);
        $.ajax({
            type:"POST",  //请求方式   get查询  post增加  put修改   delete删除
            url:'/mg/updatesByLq.action',//请求路径
            async:true,  //或false 是否异步
            data:{ids: $('#ids').val()},
            timeout:5000,//超时时间
            dataType:'json',  //返回的数据格式：json/xml/html/script/jsonp/text
            success:function(data){
                $.messager.confirm('Info', "领取成功，请到个人任务查看",function () {
                    window.location.href="/mg/lq.html";
                });
            },
            error:function(error){
                $.messager.alert('Info', "领取失败");
            }

        })
    }

    function f() {
        $.ajax({
            type:"POST",  //请求方式   get查询  post增加  put修改   delete删除
            url:'https://www.jiansheku.com/api/jsk/enterprise/search',//请求路径
            async:true,  //或false 是否异步
            data:{pageIndex: 199, pageSize: 10, orderFlag: 0},
            dataType:'json',  //返回的数据格式：json/xml/html/script/jsonp/text
            success:function(data){
                console.log("success:"+data);
            },
            error:function(error){
                console.log("error:"+error);
            }

        })
    }
    function crawler(db){
        var valizs = 'B%YGZ1P64Iu'
        var dusbyd = 'oX14b*VP3&o'
        var dsacxe = ' e#&h#oKw%3'
        var txs = valizs+dusbyd+dsacxe.trim() //第三个key
        return toItem(txs, confusion(db))
    }
    function ShowValty() {
        $('#btnGetVerfycode').attr("disabled", false);
        $('#btnGetVerfycode').removeClass("disabled");
    }
    function toItem(key, dsb){
        var dsb = dsb
        var secret = key
        dsb = dsb + secret;
        //"orderFlag=0&pageIndex=199&pageSize=10&cwZ2VEdOID7#oidiOJOptMJp&RrQ$2%o"
        dsb = hex_md5(dsb);
        return dsb;
    }
</script>

</body>
</html>