
<!DOCTYPE html>
<html>
<div th:include="head :: header"></div>
<body>
<div style="background:#fafafa;padding:5px;width:600px;border:1px solid #ccc">
    <a href="#" class="easyui-menubutton" menu="#mm1" iconCls="icon-edit">人才资源菜单</a>
    <a href="#" class="easyui-menubutton" menu="#mm2" iconCls="icon-edit">公司资源菜单</a>
</div>
<div id="mm1" style="width:150px;">
    <a href="/mg/rw.html" class="easyui-linkbutton" plain="true" >分配人才任务</a>
    <a href="/mg/mglist.html" class="easyui-linkbutton" plain="true" >人才资源管理</a>
    <a href="/user/list.html" class="easyui-linkbutton" plain="true" >员工管理</a>
    <a href="/user/password.html" class="easyui-linkbutton" plain="true" >密码管理</a>
    <a href="/import" class="easyui-linkbutton" plain="true" >导入人才数据</a>
    <a href="/loginout" class="easyui-linkbutton" plain="true" >退出系统</a>
</div>
<div id="mm2" style="width:150px;">
    <a href="/companyzy/rw.html" class="easyui-linkbutton" plain="true" >分配公司任务</a>
    <a href="/companyzy/list.html" class="easyui-linkbutton" plain="true" >公司资源管理</a>
    <a href="/company/list.html" class="easyui-linkbutton" plain="true" >资质公司数据</a>
    <a href="/companyzy/import" class="easyui-linkbutton" plain="true" >导入公司数据</a>
</div>
<h2>公司导入数据  </h2>
<p th:if="${userId gt 1}"style="color:red">没有导入的权限，联系admin</p>
<div style="margin:20px 0;">
    <a href="#" id="repeatDelete" class="easyui-linkbutton" >清除重复数据</a>
</div>
<div class="easyui-panel" title="Ajax Form" style="width:300px;padding:10px;">
    <form id="ff" action="/companyzy/importExcel.action" method="post" enctype="multipart/form-data">
        <table>
            <tr>
                <td>File:</td>
                <td><input name="file" class="f1 easyui-filebox"></input></td>
            </tr>
            <tr>
                <td></td>
                <td><input th:if="${userId eq 1}"  type="submit" value="导入"></input></td>
            </tr>
        </table>
    </form>
</div>


<style scoped>
    .f1{
        width:200px;
    }
</style>
<script type="text/javascript">
    $(function(){
        $('#ff').form({
            iframe: false,
            success:function(data){
                $.messager.alert('Info', data, 'info');
            }
        });
    });
    $("#repeatDelete").click(function () {
        $.ajax({
            type:"GET",  //请求方式   get查询  post增加  put修改   delete删除
            url:'/companyzy/repeatDelete.action',//请求路径
            async:true,  //或false 是否异步
            timeout:500,//超时时间
            dataType:'json',  //返回的数据格式：json/xml/html/script/jsonp/text
            success:function(data){
                $.messager.alert('Info', data, 'info');
            },
            error:function(error){
                $.messager.alert('Info', error.responseText, 'info');
                console.log('错误');
            }

        })
    })

</script>
</body>
<div th:include="footer :: copyright"></div>
</html>