<html lang="en" xmlns:th="http://www.thymeleaf.org">
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>公司人才信息</title>
    <link rel="stylesheet" type="text/css" href="../css/demo.css">
    <link rel="stylesheet" type="text/css" href="../themes/default/easyui.css">
    <link rel="stylesheet" type="text/css" href="../themes/icon.css">
    <script type="text/javascript" src="../js/jquery.min.js"></script>
    <script type="text/javascript" src="../js/jquery.easyui.min.js"></script>
    <script type="text/javascript" src="../js/jquery.edatagrid.js"></script>
    <script type="text/javascript" src="../js/datagrid-export.js"></script>
</head>
<body>
<div style="background:#fafafa;padding:5px;width:600px;border:1px solid #ccc">
    <a href="#" class="easyui-menubutton" menu="#mm1" iconCls="icon-edit">人才资源菜单</a>
    <a href="#" class="easyui-menubutton" menu="#mm2" iconCls="icon-edit">公司资源菜单</a>
</div>
<div id="mm1" style="width:150px;">
    <a href="/mg/rw.html" class="easyui-linkbutton" plain="true" >分配人才任务</a>
    <a href="/mg/mglist.html" class="easyui-linkbutton" plain="true" >人才资源管理</a>
    <a href="/user/list.html" class="easyui-linkbutton" plain="true" >员工管理</a>
    <a href="/user/password.html" class="easyui-linkbutton" plain="true" >密码管理</a>
    <a href="/import" class="easyui-linkbutton" plain="true" >导入人才数据</a>
    <a href="/loginout" class="easyui-linkbutton" plain="true" >退出系统</a>
</div>
<div id="mm2" style="width:150px;">
    <a href="/companyzy/rw.html" class="easyui-linkbutton" plain="true" >分配公司任务</a>
    <a href="/companyzy/list.html" class="easyui-linkbutton" plain="true" >公司资源管理</a>
    <a href="/company/list.html" class="easyui-linkbutton" plain="true" >资质公司数据</a>
    <a href="/companyzy/import" class="easyui-linkbutton" plain="true" >导入公司数据</a>
</div>
<h2>公司信息 -- 公司资源管理</h2>
<div>
    <form id="excel" action="/mg/exportExcel.action" method="post">
        <input type="hidden" id="userId" th:value="${userId}">
        <!--<p style="color:red" th:text="${userId}"  th:if="${not #strings.isEmpty(userId)}"></p>-->
        <div style="padding:5px 0;">
            <span>意向:</span>
            <select class="easyui-combobox" id="customerYx" name="customerYx" style="width:70px;">
                <option value="">全部</option>
                <option value="是">是</option>
                <option value="否">否</option>
            </select>
            &nbsp;<span>微信:</span>
            <select class="easyui-combobox" id="customerWx" name="customerWx" style="width:70px;">
                <option value="">全部</option>
                <option value="是">是</option>
                <option value="否">否</option>
            </select>
            &nbsp;<span>作废号码:</span>
            <select class="easyui-combobox" id="customerZf" name="customerZf" style="width:70px;">
                <option value="">全部</option>
                <option value="是">是</option>
                <option value="否">否</option>
            </select>
            已分配人员:<input class="easyui-textbox" type="text"  name="optName" id="optName" >
            &nbsp;<a href="#" id="query" class="easyui-linkbutton" data-options="iconCls:'icon-search'" style="width:80px">查询</a>
            <a href="javascript:;" th:if="${userId eq 1}" class="easyui-linkbutton" onclick="$('#dg').datagrid('toExcelServer','/companyzy/exportExcel.action')">导出查询结果</a>
        </div>
    </form>
</div>
<table id="dg" title="人才库"
       toolbar="#toolbar" pagination="true" idField="id"
       rownumbers="true" fitColumns="true" singleSelect="true">
    <thead>
    <tr>
        <th data-options="field:'name',align:'center'">姓名</th>
        <th data-options="field:'phoneOne',align:'center'"  editor="{type:'validatebox',options:{required:true}}">电话1</th>
        <th data-options="field:'phoneTwo',align:'center'"  editor="{type:'validatebox',options:{required:true}}">电话2</th>
        <th data-options="field:'phoneThree',align:'center'">电话3</th>
        <th data-options="field:'phoneFour',align:'center'">电话4</th>
        <th data-options="field:'phoneFive',align:'center'">电话5</th>
        <th data-options="field:'optName',align:'center'">执行人员</th>

        <th data-options="field:'customerYx',align:'center'" editor="{type:'combobox',options:{valueField : 'id',
            textField : 'text',
            panelHeight : 'auto',
            editable : false,
            data : [{
                id : '是',
                text : '是'
            }, {
                id : '否',
                text : '否'
            } ]}}">意向客户</th>
        <th data-options="field:'customerWx',align:'center'" editor="{type:'combobox',options:{valueField : 'id',
            textField : 'text',
            panelHeight : 'auto',
            editable : false,
            data : [{
                id : '是',
                text : '是'
            }, {
                id : '否',
                text : '否'
            } ]}}">微信客户</th>
        <th data-options="field:'called',align:'center'" editor="{type:'combobox',options:{valueField : 'id',
            textField : 'text',
            panelHeight : 'auto',
            editable : false,
            data : [{
                id : '是',
                text : '是'
            }, {
                id : '否',
                text : '否'
            } ]}}">已拨打</th>
        <th data-options="field:'customerZf',align:'center'"  editor="{type:'combobox',options:{valueField : 'id',
            textField : 'text',
            panelHeight : 'auto',
            editable : false,
            data : [{
                id : '是',
                text : '是'
            }, {
                id : '否',
                text : '否'
            } ]}}">作废号码</th>
        <th data-options="field:'infoDesc',align:'center',width:50"  editor="{type:'validatebox',options:{required:false}}">描述</th>
        <th data-options="field:'fenDate',align:'center'">分配时间</th>
        <th data-options="field:'modified',align:'center'">最近操作时间</th>
    </tr>
    </thead>
</table>
<div id="toolbar">
    <!--<a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-add" plain="true" onclick="javascript:$('#dg').edatagrid('addRow')">New</a>-->
    <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-remove" plain="true" onclick="javascript:$('#dg').edatagrid('destroyRow')">删除</a>
    <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-save" plain="true" onclick="javascript:$('#dg').edatagrid('saveRow')">保存</a>
    <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-undo" plain="true" onclick="javascript:$('#dg').edatagrid('cancelRow')">取消</a>
</div>

<script type="text/javascript">
    $(function(){
        $('#dg').edatagrid({
            url:'/companyzy/list.action',
            saveUrl: '/companyzy/save.action',
            updateUrl: '/companyzy/update.action',
            destroyUrl: '/companyzy/destroy.action'
        });
    });
    $("#query").click(function () {
        $('#dg').datagrid('load', {
            customerYx: $("#customerYx").val(),
            customerZf: $("#customerZf").val(),
            customerWx: $("#customerWx").val(),
            optName: $("#optName").val()
        });
    });



</script>

</body>
</html>