
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>公司员工管理</title>
    <link rel="stylesheet" type="text/css" href="../css/demo.css">
    <link rel="stylesheet" type="text/css" href="../themes/default/easyui.css">
    <link rel="stylesheet" type="text/css" href="../themes/icon.css">
    <script type="text/javascript" src="../js/jquery.min.js"></script>
    <script type="text/javascript" src="../js/jquery.easyui.min.js"></script>
    <script type="text/javascript" src="../js/jquery.edatagrid.js"></script>
</head>
<body>
<div style="background:#fafafa;padding:5px;width:200px;border:1px solid #ccc">
    <a href="#" class="easyui-menubutton" menu="#mm1" iconCls="icon-edit">任务菜单</a>
</div>
<div id="mm1" style="width:150px;">
    <a href="http://localhost:9090/mg/geren.html" class="easyui-linkbutton" plain="true" >任务管理</a>
    <a href="http://localhost:9090/loginout" class="easyui-linkbutton" plain="true" >退出系统</a>
</div>
<h2>公司人员管理 --- 员工管理</h2>

<table id="dg" title="人才库"
       toolbar="#toolbar" pagination="true" idField="id"
       rownumbers="true" fitColumns="true" singleSelect="true">
    <thead>
    <tr>
        <th field="name" width="50"  >姓名</th>
        <th field="phone" width="100" >电话</th>
        <th field="password" width="50"  editor="{type:'validatebox',options:{required:true}}">密码</th>
    </tr>
    </thead>
</table>
<div id="toolbar">
    <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-save" plain="true" onclick="javascript:$('#dg').edatagrid('saveRow')">保存</a>
    <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-undo" plain="true" onclick="javascript:$('#dg').edatagrid('cancelRow')">取消</a>
</div>
<script type="text/javascript">
    $(function(){
        $('#dg').edatagrid({
            url:'/user/listgeren',
            saveUrl: '/user/save',
            updateUrl: '/user/update',
            destroyUrl: '/user/destroy'
        });
    });
    $("#query").click(function () {
        $('#dg').datagrid('load', {

        });
    })

    //$('#dg').datagrid('reload');

    /*$(document).bind("contextmenu",function(){return false;});
    $(document).bind("selectstart",function(){return false;});
    $(document).keydown(function(){return key(arguments[0])});*/
</script>

</body>
</html>