
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>公司员工管理</title>
    <link rel="stylesheet" type="text/css" href="../css/demo.css">
    <link rel="stylesheet" type="text/css" href="../themes/default/easyui.css">
    <link rel="stylesheet" type="text/css" href="../themes/icon.css">
    <script type="text/javascript" src="../js/jquery-1.9.1.min.js"></script>
    <script type="text/javascript" src="../js/jquery.easyui.min.js"></script>
    <script type="text/javascript" src="../js/jquery.edatagrid.js"></script>
</head>
<body>
<h2>公司人员管理</h2>
<p>公司人员管理</p>
<div>
    <div style="padding:5px 0;">
        <span>状态:</span>
        <select class="easyui-combobox" id="enable" name="enable" style="width:70px;">
            <option value="">全部</option>
            <option value="是">是</option>
            <option value="否">否</option>
        </select>
        &nbsp;<a href="#" id="query" class="easyui-linkbutton" data-options="iconCls:'icon-search'" style="width:80px">查询</a>
    </div>

</div>
<table id="dg" title="人才库"
       toolbar="#toolbar" pagination="true" idField="id"
       rownumbers="true" fitColumns="true" singleSelect="true">
    <thead>
    <tr>
        <th field="name" width="50"  editor="{type:'validatebox',options:{required:true}}">姓名</th>
        <th field="phone" width="100"  editor="{type:'validatebox',options:{required:true}}">电话</th>
        <th field="password" width="50"  editor="{type:'validatebox',options:{required:true}}">密码</th>
        <th field="infoLevel" width="50" editor="{type:'validatebox',options:{required:true}}" >级别</th>
        <th field="enable" width="50" editor="{type:'checkbox',options:{on: '是',off: '否'}}">状态</th>
    </tr>
    </thead>
</table>
<div id="toolbar">
    <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-add" plain="true" onclick="javascript:$('#dg').edatagrid('addRow')">新增</a>
    <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-remove" plain="true" onclick="javascript:$('#dg').edatagrid('destroyRow')">删除</a>
    <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-save" plain="true" onclick="javascript:$('#dg').edatagrid('saveRow')">保存</a>
    <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-undo" plain="true" onclick="javascript:$('#dg').edatagrid('cancelRow')">取消</a>
</div>
<script type="text/javascript">
    $(function(){
        $('#dg').edatagrid({
            url:'/user/list',
            saveUrl: '/user/save',
            updateUrl: '/user/update',
            destroyUrl: '/user/destroy'
        });
    });
    $("#query").click(function () {
        $('#dg').datagrid('load', {
            enable: $("#enable").val()
        });
    })

    //$('#dg').datagrid('reload');

    /*$(document).bind("contextmenu",function(){return false;});
    $(document).bind("selectstart",function(){return false;});
    $(document).keydown(function(){return key(arguments[0])});*/
</script>

</body>
</html>