<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<div th:include="head :: header"></div>
<body>
<div th:include="menu :: menu"></div>
<h2>公司人员管理 --- 员工管理-【新增用户，密码默认 123456】</h2>
<div>
    <div style="padding:5px 0;">
        <span>状态:</span>
        <select class="easyui-combobox" id="enable" name="enable" style="width:70px;">
            <option value="">全部</option>
            <option value="启用">启用</option>
            <option value="禁用">禁用</option>
        </select>
        <span>姓名:</span> <input class="easyui-textbox" type="text"  name="name" id="userName" >
        &nbsp;<a href="#" id="query" class="easyui-linkbutton" data-options="iconCls:'icon-search'" style="width:80px">查询</a>
    </div>

</div>
<table id="dg" title="人才库"
       toolbar="#toolbar" pagination="true" idField="id"
       rownumbers="true" fitColumns="true" singleSelect="true">
    <thead>
    <tr>

        <th  data-options="field:'name',align:'center'"   editor="{type:'validatebox',options:{required:true}}">姓名</th>
        <th  data-options="field:'phone',align:'center'"  editor="{type:'validatebox',options:{required:true}}">电话</th>
        <th data-options="field:'infoLevel',align:'center'" editor="{type:'combobox',options:{valueField : 'id',
            textField : 'text',
            panelHeight : 'auto',
            editable : false,
            data : [{
                id : '员工',
                text : '员工'
            }, {
                id : '组长',
                text : '组长'
            } , {
                id : '经理',
                text : '经理'
            }, {
                id : '高级经理',
                text : '高级经理'
            }, {
                id : '管理员',
                text : '管理员'
            } ]}}">员工级别</th>
        <th data-options="field:'depName',align:'center'" editor="{type:'combobox',options:{valueField : 'id',
            textField : 'text',
            panelHeight : 'auto',
            editable : false,
            data : [{
                id : '人才部',
                text : '人才部'
            }, {
                id : '企业部',
                text : '企业部'
            } ,{
                id : '运营部',
                text : '运营部'
            } ]}}">归属部门</th>
        <th  data-options="field:'enable',align:'center'" editor="{type:'checkbox',options:{on: '启用',off: '禁用'}}">员工状态</th>
    </tr>
    </thead>
</table>
<div id="toolbar">
    <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-add" plain="true" onclick="javascript:$('#dg').edatagrid('addRow')">新增</a>
<!--    <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-remove" plain="true" onclick="javascript:$('#dg').edatagrid('destroyRow')">删除</a>-->
    <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-save" plain="true" onclick="javascript:$('#dg').edatagrid('saveRow')">保存</a>
    <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-undo" plain="true" onclick="javascript:$('#dg').edatagrid('cancelRow')">取消</a>
</div>
<script type="text/javascript">
    $(function(){
        $('#dg').edatagrid({
            url:'/user/list.action',
            saveUrl: '/user/save.action',
            updateUrl: '/user/update.action'
        });
    });
    $("#query").click(function () {
        $('#dg').datagrid('load', {
            enable: $("#enable").val(),
            name:$("#userName").val()
        });
    })

    //$('#dg').datagrid('reload');

    /*$(document).bind("contextmenu",function(){return false;});
    $(document).bind("selectstart",function(){return false;});
    $(document).keydown(function(){return key(arguments[0])});*/
</script>

</body>
</html>