
<!DOCTYPE html>
<html>
<div th:include="head :: header"></div>
<body>
<div style="background:#fafafa;padding:5px;width:200px;border:1px solid #ccc">
    <a href="#" class="easyui-menubutton" menu="#mm1" iconCls="icon-edit">任务菜单</a>
</div>
<div id="mm1" style="width:150px;">
    <a href="/mg/rw.html" class="easyui-linkbutton" plain="true" >分配任务</a>
    <a href="/mg/mglist.html" class="easyui-linkbutton" plain="true" >人才资源管理</a>
    <a href="/user/list.html" class="easyui-linkbutton" plain="true" >员工管理</a>
    <a href="/user/password.html" class="easyui-linkbutton" plain="true" >密码管理</a>
    <a href="/import" class="easyui-linkbutton" plain="true" >导入数据</a>
    <a href="/loginout" class="easyui-linkbutton" plain="true" >退出系统</a>
</div>
<h2>导入数据  ---重复手机号不会导入</h2>
<p th:if="${userId gt 1}"style="color:red">没有导入的权限，联系admin</p>

<div class="easyui-panel" title="Ajax Form" style="width:300px;padding:10px;">
    <form id="ff" action="/importExcel.action" method="post" enctype="multipart/form-data">
        <table>
            <tr>
                <td>File:</td>
                <td><input name="file" class="f1 easyui-filebox"></input></td>
            </tr>
            <tr>
                <td></td>
                <td><input th:if="${userId eq 1}"  type="submit" value="导入"></input></td>
            </tr>
        </table>
    </form>
</div>
<style scoped>
    .f1{
        width:200px;
    }
</style>
<script type="text/javascript">
    $(function(){
        $('#ff').form({
            iframe: false,
            success:function(data){
                $.messager.alert('Info', data, 'info');
            }
        });
    });
</script>
</body>
<div th:include="footer :: copyright"></div>
</html>