
<!DOCTYPE html>
<html>
<div th:include="head :: header"></div>
<body>
<div style="background:#fafafa;padding:5px;width:200px;border:1px solid #ccc">
    <a href="#" class="easyui-menubutton" menu="#mm1" iconCls="icon-edit">菜单</a>
</div>
<div id="mm1" style="width:150px;">
    <a href="http://localhost:9090/mg/geren.html" class="easyui-linkbutton" plain="true" >任务管理</a>
    <a href="http://localhost:9090/user/gerenpwd.html" class="easyui-linkbutton" plain="true" >修改密码</a>
    <a href="http://localhost:9090/loginout" class="easyui-linkbutton" plain="true" >退出系统</a>
</div>

</body>
<div th:include="footer :: copyright"></div>
</html>