
<!DOCTYPE html>
<html>
<div th:include="head :: header"></div>
<body>
<div style="background:#fafafa;padding:5px;width:200px;border:1px solid #ccc">
    <a href="#" class="easyui-menubutton" menu="#mm1" iconCls="icon-edit">菜单</a>
</div>
<div id="mm1" style="width:150px;">
    <!--<a href="/mg/lq.html" class="easyui-linkbutton" plain="true" >任务领取</a>-->
    <a href="/mg/geren.html" class="easyui-linkbutton" plain="true" >人才资源</a>
    <a href="/companyzy/geren.html" class="easyui-linkbutton" plain="true" >公司资源</a>
    <a href="/user/gerenpwd.html" class="easyui-linkbutton" plain="true" >修改密码</a>
    <a href="/loginout" class="easyui-linkbutton" plain="true" >退出系统</a>
</div>

</body>
<div th:include="footer :: copyright"></div>
</html>