
<!DOCTYPE html>
<html>
<div th:include="head :: header"></div>
<body>
<div style="background:#fafafa;padding:5px;width:200px;border:1px solid #ccc">
    <a href="#" class="easyui-menubutton" menu="#mm1" iconCls="icon-edit">菜单</a>
</div>
<div id="mm1" style="width:150px;">
    <a href="/mg/rw.html" class="easyui-linkbutton" plain="true" >分配任务</a>
    <a href="/mg/index.html" class="easyui-linkbutton" plain="true" >人才资源管理</a>
    <a href="/user/index.html" class="easyui-linkbutton" plain="true" >员工管理</a>
    <a href="/user/password.html" class="easyui-linkbutton" plain="true" >密码管理</a>
    <a href="/import" class="easyui-linkbutton" plain="true" >导入数据</a>
    <a href="/loginout" class="easyui-linkbutton" plain="true" >退出系统</a>
</div>

</body>
<div th:include="footer :: copyright"></div>
</html>