<div th:fragment="menu">
<div style="background:#fafafa;padding:5px;width:200px;border:1px solid #ccc">
    <a href="#" class="easyui-menubutton" menu="#mm1" iconCls="icon-edit">任务菜单</a>
    <a href="#" class="easyui-menubutton" menu="#mm2" iconCls="icon-help">管理菜单</a>
</div>
<div id="mm1" style="width:150px;">
    <a href="http://localhost:9090/mg/index.html" class="easyui-linkbutton" plain="true" >人才管理</a>
    <a href="http://localhost:9090/mg/rw.html" class="easyui-linkbutton" plain="true" >分配任务</a>
    <a href="http://localhost:9090/user/index.html" class="easyui-linkbutton" plain="true" >人员管理</a>
    <a href="http://localhost:9090/import" class="easyui-linkbutton" plain="true" >导入数据</a>
</div>

</div>