<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<div th:include="head :: header"></div>
<div th:fragment="menuTree">
<div class="easyui-panel" style="padding:5px" >
    <ul class="easyui-tree">
        <li>
            <span>My Documents</span>
            <ul>
                <li>
                    <span>人才</span>
                    <ul>
                        <li>
                            <span><a href="/mg/index.html" class="easyui-linkbutton" plain="true" >人才管理</a></span>
                        </li>
                        <li>
                            <span>Wife</span>
                        </li>
                        <li>
                            <span>Company</span>
                        </li>
                    </ul>
                </li>
                <li>
                    <span>公司</span>
                    <ul>
                        <li> <a href="/companyzy/rw.html" class="easyui-linkbutton" plain="true" >分配公司任务</a></li>
                        <li>Java</li>
                        <li>Microsoft Office</li>
                        <li>Games</li>
                    </ul>
                </li>
                <li>index.html</li>
                <li>about.html</li>
                <li>welcome.html</li>
            </ul>
        </li>
    </ul>
</div>
</div>

</html>